
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-15</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
      <h1>Quel est ton langage préféré ? </h1>
      
<input type="radio" v-model="choice" value="Javascipt">
<label>Javascipt</label>
<input type="radio" v-model="choice" value="java">
<label>Java</label>
<input type="radio" v-model="choice" value="Php">
<label>Php</label>
<p>vous avez choisis: {{choice}}</p>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    choice:[]
                }
                }
            });
        app.mount('#app');
    </script>
</body>
</html